<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Trang chủ sg65</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body>
<div class="swrapper">
    <header>
        <div class="header">
            <div class="fixCen headerInner">
                <div class="box-top-header">
                    <h1 class="rs"><a href="#" class="logo"></a></h1>
                    <span class="tentruong">TRƯỜNG CAO ĐẲNG Y TẾ HÀ NAM</span>
                    <span class="teneng">Hanam Medical College</span>
                    <p>Địa chỉ: Đường Nguyễn Hữu Tiến - P. Lê Hồng Phong - TP. Phủ Lý - T. Hà Nam</p>
                    <p>ĐT: 0351.851.189 - Fax: 0351.851.189</p>
                    <a href="#" class="flagvn spr pAbs"></a>
                    <a href="#" class="spr flagmy pAbs"></a>
                    <form class="pAbs form-search">
                        <input type="text" name="timkiem" value="Tìm kiếm">
                    </form>
                </div>
                <nav>
                    <ul class="menu rs cf">
                        <li class="fll"><a href="#" class="icon-home"><img src="images/unnamed.png"/></a></li>
                        <li class="fll active"><a href="#">TRANG CHỦ</a></li>
                        <li class="fll"><a href="#">GIỚI THIỆU</a></li>
                        <li class="fll"><a href="#">TỔ CHỨC</a></li>
                        <li class="fll"><a href="#">ĐÀO TẠO</a></li>
                        <li class="fll"><a href="#">TUYỂN SINH</a></li>
                        <li class="fll"><a href="#">HỌC SINH - SINH VIÊN</a></li>
                        <li class="fll"><a href="#">LIÊN HỆ</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="main fixCen">
        <div class="box-slide pRel fll">
            <div id="slider" class="slider">
                <div class="fake-move"></div>
                <a href="#"><img src="images/slider.jpg"/></a>
                <a href="#"><img src="images/slider.jpg"/></a>
                <a href="#"><img src="images/slider.jpg"/></a>
                <a href="#"><img src="images/slider.jpg"/></a>
            </div>
        </div>
        <div class="main-content cf">
            <div class="fll left-content">
                <div class="box-daotao">
                    <ul class="lstTab spr pRel">
                        <li class="fll"><span>ĐÀO TẠO</span></li>
                        <span class="pAbs navi-dt"><a href="#">Trang chủ</a>  Đào tạo</span>
                    </ul>
                    <div class="box-daotaox">
                        <div class="daotao-content">
                            <ul class="rs">
                                <li><a href="#">Quyết định kết quả thi Tốt Nghiệp</a></li>
                                <li><a href="#">Quyết định kết quả thi Tốt Nghiệp</a></li>
                                <li>
                                    <a href="#">Quyết định kết quả thi Tốt Nghiệp</a>
                                    <p>Công khai cam kết</p>
                                </li>
                                <li><a href="#">Quyết định kết quả thi Tốt Nghiệp</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box-tracuudiem">
                    <div class="box-tracuu">
                        <img src="images/img-lichti.jpg" class="pAbs">
                        <h4 class="diemthi">TRA CỨU ĐIỂM THI</h4>
                        <form>
                            <label>MÃ SV</label><input type="text" name="masv" value=""><br>
                            <label>Họ tên</label><input type="text" name="hoten" value=""><br>
                            <label>Môn</label><input type="text" name="mon" value="">
                        </form>

                    </div>
                </div>
            </div>
            <div class="fll right-menu">
                <div class="box-thongbao">
                    <span>Thông báo</span>
                    <a href="#">Tuyển sinh trung cấp lên ĐH cấp lên ĐH cấp lên ĐH cấp lên ĐH</a>
                    <a href="#">Tuyển sinh trung cấp lên ĐH</a>
                    <a href="#">Tuyển sinh trung cấp lên ĐH</a>
                </div>
                <a href="#"><img src="images/anhtb.jpg"></a>
                <a href="#" class="dkhoc">Đăng ký học tín chỉ</a>
                <a href="#" class="boder-link">Lịch công tác</a>
                <a href="#" class="boder-link">Thư điện tử</a>
                <a href="#" class="boder-link">Trang tin nội bộ</a>
                <a href="#" class="boder-link">Tài nguyên</a>
                <a href="#" class="boder-link">Nghiên cứu khoa học</a>
                <div class="lienket">
                    <h4>Liên kết hữu ích</h4>
                    <a href="#"><img src="images/baodientu.jpg"></a>
                    <a href="#"><img src="images/giaoduc.jpg"></a>
                    <a href="#"><img src="images/bogiaoduc.jpg"></a>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-link">
            <div class="fixCen cf link-content">
                <div class="tab-gioithieu fll">
                    <span class="title-tab">GIỚI THIỆU</span>
                    <a href="#">. Thư ngỏ</a>
                    <a href="#">. Lịch sử xây dựng và phát triển</a>
                    <a href="#">. Sứ mạng - Tầm nhìn</a>
                    <a href="#">. Cơ sở vật chất</a>
                    <a href="#">. Cơ cấu tổ chức</a>
                    <a href="#">. Danh bạ cán bộ</a>
                </div>
                <div class="tab-ctdt fll">
                    <span class="title-tab">Chương trình đào tạo</span>
                    <a href="#">. Cao đẳng điều dưỡng</a>
                    <a href="#">. Điều dưỡng trung cấp</a>
                    <a href="#">. Dược sỹ trung cấp</a>
                    <a href="#">. Y sỹ</a>
                    <a href="#">. Hộ sinh trung cấp</a>
                    <a href="#">. Liên kết đào tạo</a>
                </div>
                <div class="tab-tuyensinh fll">
                    <span class="title-tab">Tuyển sinh</span>
                    <a href="#">. Thông báo tuyển sinh</a>
                    <a href="#">. Điểm trúng tuyển</a>
                    <a href="#">. Mẫu đơn</a>
                    <a href="#">. Quy chế tuyển sinh</a>
                    <a href="#">. Tài liệu ôn thi</a>
                    <a href="#">. Tư vấn tuyển sinh</a>
                </div>
                <div class="tab-hssv fll">
                    <span class="title-tab">HỌc sinh- sinh viên</span>
                    <a href="#">. Thông báo</a>
                    <a href="#">. Thời khóa biểu</a>
                    <a href="#">. Lịch học lịch thi</a>
                    <a href="#">. Kết quả học tập</a>
                    <a href="#">. Học bổng</a>
                    <a href="#">. Quy chế</a>
                </div>
            </div>
        </div>
        <div class="footer-inner">
            <div class="fixCen thongtin-footer">
                <a href="#" class="pAbs icon-f"></a>
                <a href="#" class="pAbs icon-gg"></a>
                <p>Bản quyền thuộc trường cao đẳng Y Hà Nam</p>
                <p>Địa chỉ: Đường Nguyễn Hữu Tiến - P. Lê Hồng Phong - TP. Phủ Lý - T. Hà Nam</p>
                <p>ĐT: 03513.851.189 - Fax: 03513.851.189</p>
                <p>Website: cdyhanam.edu.vn</p>
                <span class="ctytk">Thiết kế bởi ADOLA Việt Nam</span>
            </div>

        </div>
    </footer>
    <a href="#" class="support-online"></a>
</div>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="js/slider.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#slider').slider({width:960,height:344,delay:3000,sDelay:30,effect:'random'});

        if($("#ulList li a").hasClass("active")){
            var id = $("#ulList a").data("id");
            var href = $("#ulList a").attr("href");
            var title = $("#ulList a").attr("title");
            $("#"+id).css({display:"block"});
        }

        $("#ulList li a").hover(function(){
            $("#ulList li a").removeClass("active");
            $(".tab-content").css({display:"none"});
            var id = $(this).data("id");
            var href = $(this).attr("href");
            var title = $(this).attr("title");
            $(this).addClass("active");
            $("#"+id).stop().fadeIn("slow");
        });
    });
</script>
</html>