<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Trang chủ sg65</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="css/tinyscrollbar.css" type="text/css" media="screen"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body>
<div class="swrapper">
    <header>
        <div class="header">
            <div class="fixCen headerInner">
                <div class="box-top-header">
                    <h1 class="rs"><a href="#" class="logo"></a></h1>
                    <span class="tentruong">TRƯỜNG CAO ĐẲNG Y TẾ HÀ NAM</span>
                    <span class="teneng">Hanam Medical College</span>
                    <p>Địa chỉ: Đường Nguyễn Hữu Tiến - P. Lê Hồng Phong - TP. Phủ Lý - T. Hà Nam</p>
                    <p>ĐT: 0351.851.189 - Fax: 0351.851.189</p>
                    <a href="#" class="flagvn spr pAbs"></a>
                    <a href="#" class="spr flagmy pAbs"></a>
                    <form class="pAbs form-search">
                        <input type="text" name="timkiem" value="Tìm kiếm">
                    </form>
                </div>
                <nav>
                    <ul class="menu rs cf">
                        <li class="fll"><a href="#" class="icon-home"><img src="images/unnamed.png"/></a></li>
                        <li class="fll active"><a href="#">TRANG CHỦ</a></li>
                        <li class="fll"><a href="#">GIỚI THIỆU</a></li>
                        <li class="fll"><a href="#">TỔ CHỨC</a></li>
                        <li class="fll"><a href="#">ĐÀO TẠO</a></li>
                        <li class="fll"><a href="#">TUYỂN SINH</a></li>
                        <li class="fll"><a href="#">HỌC SINH - SINH VIÊN</a></li>
                        <li class="fll"><a href="#">LIÊN HỆ</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="main fixCen">
        <div class="box-slide pRel fll">
            <div id="slider" class="slider">
                <div class="fake-move"></div>
                <a href="#"><img src="images/slider.jpg"/></a>
                <a href="#"><img src="images/slider.jpg"/></a>
                <a href="#"><img src="images/slider.jpg"/></a>
                <a href="#"><img src="images/slider.jpg"/></a>
            </div>
        </div>
        <div class="main-content cf">
            <div class="fll left-content">
                <div class="box-tinmoi pRel cf">
                    <div class="tin1 fll">
                        <a href="#" class="img-tin1"><img src="images/img-thumb.png"></a>
                        <div class="rs title"><a href="#">ĐẠi hội chi bộ lần thứ X Đại hội gì nhờ</a></div>
                        <p>
                            Nội dung tin 1<br>
                            Nội dung tin 1<br>
                            Nội dung tin 1<br>
                        </p>
                    </div>
                    <div class="box-tm fll">
                        <div class="bg-tinmoi">Tin mới</div>
                        <div class="newline">
                            <a href="#">Danh sách thí sinh trúng tuyển hệ cao đẳng điều dưỡng ...</a>
                        </div>
                        <div class="newline">
                            <a href="#">Danh sách thí sinh trúng tuyển hệ cao đẳng điều dưỡng ...</a>
                        </div>
                        <div class="newline">
                            <a href="#">Danh sách thí sinh trúng tuyển hệ cao đẳng điều dưỡng ...</a>
                        </div>
                        <div class="newline">
                            <a href="#">Danh sách thí sinh trúng tuyển hệ cao đẳng điều dưỡng ...</a>
                        </div>
                    </div>
                </div><!--box tin mới -->
                <div class="box-tab cf">
                    <ul class="lstTab spr" id="ulList">
                        <li class="fll"><span>DÀNH CHO HS - SV</span></li>
                        <li class="fll "><a href="#" class="active" data-id="tuyensinh">Tuyển sinh</a></span></li>
                        <li class="fll "><a href="#" data-id="tkb">Thời khóa biểu</a></li>
                        <li class="fll"><a href="#"  data-id="lichthi">Lịch thi</a></li>
                        <li class="fll"><a href="#" data-id="ketqua">Kết quả học tập</a></li>
                        <li class="fll"><a href="#" data-id="diendan">Diễn đàn</a></li>
                    </ul>
                    <div class="tab-content" id="tuyensinh">
                        <div id="scrollbar1">
                            <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                            <div class="viewport">
                                <div class="overview">
                                    <h3>Magnis dis parturient montes</h3>
                                    <img src="images/anh.jpg">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                                        112
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="tkb">
                        <form class="tkb">
                            <label>MÃ LỚP</label>
                            <input type="text" name="maloptkb">
                            <label>HỌC KỲ</label>
                            <select>
                                <option value="hk1">Học kỳ 1 năm học 2012- 2013</option>
                                <option value="hk2">Học kỳ 2</option>
                                <option value="hk3">Học kỳ 3</option>
                                <option value="hk4">Học kỳ 4</option>
                            </select>
                        </form>
                    </div>
                    <div class="tab-content" id="lichthi">
                        <div class="box-tracuu">
                            <img src="images/img-lichti.jpg" class="pAbs">
                            <h4>TRA CỨU LỊCH THI</h4>
                            <form>
                                <label>MÃ SV</label><input type="text" name="masv" value=""><br>
                                <label>Họ tên</label><input type="text" name="hoten" value=""><br>
                                <label>Môn</label><input type="text" name="mon" value="">
                            </form>

                        </div>
                    </div>
                    <div class="tab-content" id="ketqua">
                       <table>
                           <tr>
                               <td class="stt">STT</td>
                               <td class="mamon">MÃ MÔN</td>
                               <td class="tenmon">TÊN MÔN</td>
                               <td class="diem">ĐIỂM</td>
                               <td class="diemtp">ĐIỂM TP</td>
                           </tr>
                           <tr class="title-tr">
                               <td colspan="5">học kỳ 1 năm 2014- 2015</td>
                           </tr>
                           <tr>
                               <td class="stt">1</td>
                               <td class="mamon"></td>
                               <td class="tenmon"></td>
                               <td class="diem"></td>
                               <td class="diemtp"><a href="#">Xem</a></td>
                           </tr>
                           <tr>
                               <td class="stt">1</td>
                               <td class="mamon"></td>
                               <td class="tenmon"></td>
                               <td class="diem"></td>
                               <td class="diemtp"><a href="#">Xem</a></td>
                           </tr>
                       </table>
                    </div>
                    <div class="tab-content" id="diendan">
                        <a href="#" class="linkdd">Diễn đàn học sinh - sinh viên Cao Đẳng Y Tế Hà Nam</a>
                    </div>
                </div><!--box tab-->
                <div class="box-video">
                    <ul class="lstTab spr pRel">
                        <li class="fll"><span>VIDEO - HÌNH ẢNH</span></li>
                        <a class="pAbs more-video">Xem thêm</a>
                    </ul>
                </div><!--box-video-->
                <div class="tab-video-img cf">
                    <div class="fll video1">
                        <iframe width="460" height="275" src="https://www.youtube.com/embed/cRuN5vFxeN0" frameborder="0" allowfullscreen></iframe>
                        <h4><a href="#">Toàn cảnh lễ khai giảng</a></h4>
                        <p>
                            Nội dung video ở đây<br>
                            Nội dung video ở đây
                        </p>
                    </div>
                    <div class="fll video2">
                        <div class="item-video">
                            <a href="#"><img src="images/img-video-nho.jpg"></a>
                            <p>Đề án tự chủ tuyển sinh cao đẳng hệ chính quy đã được Cục khảo thí và kiểm định...</p>
                        </div>
                        <div class="item-video">
                            <a href="#"><img src="images/img-video-nho.jpg"></a>
                            <p>Đề án tự chủ tuyển sinh cao đẳng hệ chính quy đã được Cục khảo thí và kiểm định...</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fll right-menu">
                <div class="box-thongbao">
                    <span>Thông báo</span>
                    <a href="#">Tuyển sinh trung cấp lên ĐH cấp lên ĐH cấp lên ĐH cấp lên ĐH</a>
                    <a href="#">Tuyển sinh trung cấp lên ĐH</a>
                    <a href="#">Tuyển sinh trung cấp lên ĐH</a>
                </div>
                <a href="#"><img src="images/anhtb.jpg"></a>
                <a href="#" class="dkhoc">Đăng ký học tín chỉ</a>
                <a href="#" class="boder-link">Lịch công tác</a>
                <a href="#" class="boder-link">Thư điện tử</a>
                <a href="#" class="boder-link">Trang tin nội bộ</a>
                <a href="#" class="boder-link">Tài nguyên</a>
                <a href="#" class="boder-link">Nghiên cứu khoa học</a>
                <div class="lienket">
                    <h4>Liên kết hữu ích</h4>
                    <a href="#"><img src="images/baodientu.jpg"></a>
                    <a href="#"><img src="images/giaoduc.jpg"></a>
                    <a href="#"><img src="images/bogiaoduc.jpg"></a>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-link">
            <div class="fixCen cf link-content">
                <div class="tab-gioithieu fll">
                    <span class="title-tab">GIỚI THIỆU</span>
                    <a href="#">. Thư ngỏ</a>
                    <a href="#">. Lịch sử xây dựng và phát triển</a>
                    <a href="#">. Sứ mạng - Tầm nhìn</a>
                    <a href="#">. Cơ sở vật chất</a>
                    <a href="#">. Cơ cấu tổ chức</a>
                    <a href="#">. Danh bạ cán bộ</a>
                </div>
                <div class="tab-ctdt fll">
                    <span class="title-tab">Chương trình đào tạo</span>
                    <a href="#">. Cao đẳng điều dưỡng</a>
                    <a href="#">. Điều dưỡng trung cấp</a>
                    <a href="#">. Dược sỹ trung cấp</a>
                    <a href="#">. Y sỹ</a>
                    <a href="#">. Hộ sinh trung cấp</a>
                    <a href="#">. Liên kết đào tạo</a>
                </div>
                <div class="tab-tuyensinh fll">
                    <span class="title-tab">Tuyển sinh</span>
                    <a href="#">. Thông báo tuyển sinh</a>
                    <a href="#">. Điểm trúng tuyển</a>
                    <a href="#">. Mẫu đơn</a>
                    <a href="#">. Quy chế tuyển sinh</a>
                    <a href="#">. Tài liệu ôn thi</a>
                    <a href="#">. Tư vấn tuyển sinh</a>
                </div>
                <div class="tab-hssv fll">
                    <span class="title-tab">HỌc sinh- sinh viên</span>
                    <a href="#">. Thông báo</a>
                    <a href="#">. Thời khóa biểu</a>
                    <a href="#">. Lịch học lịch thi</a>
                    <a href="#">. Kết quả học tập</a>
                    <a href="#">. Học bổng</a>
                    <a href="#">. Quy chế</a>
                </div>
            </div>
        </div>
        <div class="footer-inner">
            <div class="fixCen thongtin-footer">
                <a href="#" class="pAbs icon-f"></a>
                <a href="#" class="pAbs icon-gg"></a>
                <p>Bản quyền thuộc trường cao đẳng Y Hà Nam</p>
                <p>Địa chỉ: Đường Nguyễn Hữu Tiến - P. Lê Hồng Phong - TP. Phủ Lý - T. Hà Nam</p>
                <p>ĐT: 03513.851.189 - Fax: 03513.851.189</p>
                <p>Website: cdyhanam.edu.vn</p>
                <span class="ctytk">Thiết kế bởi ADOLA Việt Nam</span>
            </div>

        </div>
    </footer>
    <a href="#" class="support-online"></a>
</div>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="js/slider.js"></script>
<script type="text/javascript" src="js/jquery.tinyscrollbar.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        if($("#ulList li a").hasClass("active")){
            var id = $("#ulList a").data("id");
            var href = $("#ulList a").attr("href");
            var title = $("#ulList a").attr("title");
            $("#"+id).css({display:"block"});
        }
        $("#ulList li a").hover(function(){
            $("#ulList li a").removeClass("active");
            $(".tab-content").css({display:"none"});
            var id = $(this).data("id");
            var href = $(this).attr("href");
            var title = $(this).attr("title");
            $(this).addClass("active");
            $("#"+id).stop().fadeIn("slow");
        });
        $('#scrollbar1').tinyscrollbar();
        $('#slider').slider({width:960,height:344,delay:3000,sDelay:30,effect:'random'});
    });
</script>
</html>