.placeholder {
	background-color: #cfcfcf;
}
.ui-nestedSortable-error {
	background: #fbe3e4;
	color: #8a1f11;
}
ol.rectangle-list li a{
    display: block;
    position: relative;
}
ol.rectangle-list li a .tip{
    position: absolute;
    right: 40px;
    top: 7px;
    z-index: 100;
    display: block;
    width: 16px;
    height: 16px;
}
ol.rectangle-list li a .tip.delete{
    right: 10px;
}